 <header>
      <div class="wrapper header__wrapper ">
        <%= link_to "タイトル", root_path,class:'brand' %>
        <nav class="nav">
          <button class="nav__toggle" aria-expanded="false" type="button">
            menu
          </button>
          
          <ul class="nav__wrapper">
            
            <% unless user_signed_in? %>
              <li class="nav__item"><%= link_to "マイページ", root_path %></li>
              <li class="nav__item"><%= link_to 'ログイン', new_user_session_path %></li>
            <% else%>
              <li class="nav__item"><%= link_to "管理者権限でログインしています", root_path %></li>
              <li class="nav__item"><%= link_to "マイページ", root_path %></li>
              <li class="nav__item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
            <%end%>
          </ul>
        </nav>
      </div>
  </header>

<div class="w-btn">

  <div class="article-index">
    <div class="action-btn">
      <%=link_to '構築を投稿する', new_article_path,class: 'action-text' %>
    </div>
    <div class="action-btn">
       <%=link_to '構築を検索する', new_article_path,class: 'action-text' %>
    </div>
  </div>
    
</div>

  <div class="article-second">
  
    <div class="ranking">
    <h1 class="blue-title">ーランキングー</h1>
      <div class="ranking-field">
        <span class="ranking-text">1位　ゴリランダー </span>
        <span class="mini-monster"></span>
      </div>

      <div class="ranking-field">
        <span class="ranking-text">1位　ゴリランダー </span>
        <span class="mini-monster"></span>
      </div>

      <div class="ranking-field">
        <span class="ranking-text">1位　ゴリランダー </span>
        <span class="mini-monster"></span>
      </div>

    </div>

    <div class="new-article">
        <h1 class="blue-title">ー新着記事ー
        </h1>

        <% @articles.each do |article| %>
          <div class="new-article-link">
            <%= link_to "#{article.title}", article_path(article.id), class:'new-article-title' %>

            <div class="monster-choice">
               <%= render partial: "monster01", locals: { article: article } %>
               <%= render partial: "monster02", locals: { article: article } %>
               <%= render partial: "monster03", locals: { article: article } %>
               <%= render partial: "monster04", locals: { article: article } %>
               <%= render partial: "monster05", locals: { article: article } %>
               <%= render partial: "monster06", locals: { article: article } %>
            </div>

            <div class="new-article-info">
              投稿者：<%= link_to "#{article.user.name}", user_path(article.user_id), class:'new-article-user' %>
            </div>
          </div>

        <%end%>  




      </div>

    

    <div class="old-article">
      <h1 class="blue-title">ー構築記事一覧ー</h1>
        <div class="old-article-link">

        </div>
    </div>

  </div>



</div> 


<footer>
      <div class="wrapper footer__wrapper ">
        <h1 class="footer-message">当サイトのイラスト画像等は全て使用許可を得ております</h1>
      </div>
</footer>













