<%= render "layouts/header"%>


<div class="w-btn">

  <div class="article-index">
    <div class="action-btn">
      <%=link_to '構築を投稿する', new_article_path,class: 'action-text' %>
    </div>
    <div class="action-btn">
       <%=link_to '構築を検索する', search_articles_path,class: 'action-text' %>
    </div>
  </div>
    
</div>

  <div class="article-second">
  
    <div class="ranking">
    <h1 class="blue-title">ーランキングー</h1>
      <div class="ranking-field">
        <span class="ranking-text">1位　ザシアン </span>
        <span class="mini-monster"></span>
      </div>

      <div class="ranking-field">
        <span class="ranking-text">2位　ザシアン </span>
        <span class="mini-monster"></span>
      </div>

      <div class="ranking-field">
        <span class="ranking-text">3位　ザシアン </span>
        <span class="mini-monster"></span>
      </div>

    </div>

    <div class="new-article">
    
      
        <h1 class="blue-title">ー新着記事ー
        </h1>
        <div class="scroll">

          <% @articles.each do |article| %>
          
            <div class="new-article-link">
              <div class="new-article-info">
                投稿者：<span class="new-article-user"></span><%= link_to "#{article.user.name}", user_path(article.user_id), class:'new-article-user' %>
                 <div class="all-day"><%= article.created_at.strftime("%Y年%m月%d日")%></div>
              </div>
              <%= link_to "#{article.title}", article_path(article.id), class:'new-article-title' %>

              <div class="monster-choice">
                <%= render partial: "monster01", locals: { article: article } %>
                <%= render partial: "monster02", locals: { article: article } %>
                <%= render partial: "monster03", locals: { article: article } %>
                <%= render partial: "monster04", locals: { article: article } %>
                <%= render partial: "monster05", locals: { article: article } %>
                <%= render partial: "monster06", locals: { article: article } %>
              </div>

            
            </div>
        

          <%end%>  
          <div class="old-title-article">記事の一覧は<%= link_to "こちら", search_articles_path, class:'old-article-title' %></div>
        </div>  

    


    </div>

    

    <div class="old-article">
      <h1 class="blue-title">ー注目記事ー</h1>
        
        <div class="rank-field">
          
          <% @rank.each do |rank| %>

          <div class="rank-article"><span class="pika"></span>><%= link_to "#{rank.title}", article_path(rank.id), class:'rank-article-title' %></div>
          <%end%>
        </div>
        <div class="old-field">
          

          <div class="old-article-link">
            <div class="old-title-article">過去の記事一覧は<%= link_to "こちら", search_articles_path, class:'old-article-title' %></div>
          </div>
        </div>
    </div>

  </div>



</div> 















