<%= link_to "構築トップに戻る", articles_path, class:'article_path' %>
<div class="search-main">
  <div class="search-body">
    <div class="search-second">
      <h1 class="search-title">記事検索</h1>

      <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "ポケモン名", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>


      <div class="serch-article">
      <% @articles.each do |article| %>
      
        <div class="serch-article-link">
            <div class="new-article-info">
                <span class="new-article-user">投稿者：</span><%= link_to "#{article.user.name}", user_path(article.user_id), class:'new-article-user' %>
            </div>
          <%= link_to "#{article.title}", article_path(article.id), class:'new-article-title' %>

          <div class="monster-choice">
            <%= render partial: "monster01", locals: { article: article } %>
            <%= render partial: "monster02", locals: { article: article } %>
            <%= render partial: "monster03", locals: { article: article } %>
            <%= render partial: "monster04", locals: { article: article } %>
            <%= render partial: "monster05", locals: { article: article } %>
            <%= render partial: "monster06", locals: { article: article } %>
          </div>
        </div>

      
      <%end%>
    </div>
    </div>  

  </div>
</div>  