<div class="character-main">
  <div class="character-body">
    <h1 class="character-h1">ポケモン一覧</h1>

    <div class="character-link">

      <div class="character">
      <%= link_to "", n0100_characters_path,class:'monster-icon monster-01 character-pic' %>
      <%= link_to "ランドロス(霊獣)", n0100_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", n0200_characters_path,class:'monster-icon monster-02 character-pic' %>
      <%= link_to "ザシアン", n0200_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", n0300_characters_path,class:'monster-icon monster-03 character-pic' %>
      <%= link_to "ザシアン(けんのおう)", n0300_characters_path,class:'character-name' %>
      </div>

    </div>

    <%#------------------------------------------------------------------------%>

     <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-04 character-pic' %>
      <%= link_to "サンダー", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-05 character-pic' %>
      <%= link_to "ゴリランダー", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-06 character-pic' %>
      <%= link_to "ウーラオス(いちげき)", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-07 character-pic' %>
      <%= link_to "ウオノラゴン", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-08 character-pic' %>
      <%= link_to "バドレックス(こくば)", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-09 character-pic' %>
      <%= link_to "ポリゴン2", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-10 character-pic' %>
      <%= link_to "ナットレイ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-11 character-pic' %>
      <%= link_to "ムゲンダイナ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-12 character-pic' %>
      <%= link_to "カプ・レヒレ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-13 character-pic' %>
      <%= link_to "バンギラス", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-14 character-pic' %>
      <%= link_to "ミミッキュ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-15 character-pic' %>
      <%= link_to "ウーラオス(れんげき)", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-16 character-pic' %>
      <%= link_to "ヒードラン", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-17 character-pic' %>
      <%= link_to "カバルドン", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-18 character-pic' %>
      <%= link_to "ヒヒダルマ(ガラル)", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-19 character-pic' %>
      <%= link_to "エースバーン", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-20 character-pic' %>
      <%= link_to "メタモン", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-21 character-pic' %>
      <%= link_to "カイオーガ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-22 character-pic' %>
      <%= link_to "ヌオー", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-23 character-pic' %>
      <%= link_to "イベルタル", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-24 character-pic' %>
      <%= link_to "ギルガルド", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-25 character-pic' %>
      <%= link_to "ウルガモス", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-26 character-pic' %>
      <%= link_to "ガブリアス", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-27 character-pic' %>
      <%= link_to "バルジーナ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-28 character-pic' %>
      <%= link_to "レジエレキ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-29 character-pic' %>
      <%= link_to "ドヒドイデ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-30 character-pic' %>
      <%= link_to "ゼルネアス", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-31 character-pic' %>
      <%= link_to "ロトム(ヒート)", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-32 character-pic' %>
      <%= link_to "ハッサム", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-33 character-pic' %>
      <%= link_to "フェローチェ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-34 character-pic' %>
      <%= link_to "スイクン", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-35 character-pic' %>
      <%= link_to "ラッキー", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-36 character-pic' %>
      <%= link_to "ウインディ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-37 character-pic' %>
      <%= link_to "トリトドン", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-38 character-pic' %>
      <%= link_to "ラグラージ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-39 character-pic' %>
      <%= link_to "カイリュー", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-40 character-pic' %>
      <%= link_to "カプ・テテフ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-41 character-pic' %>
      <%= link_to "ドラパルト", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-42 character-pic' %>
      <%= link_to "オーロンゲ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-43 character-pic' %>
      <%= link_to "エアームド", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-44 character-pic' %>
      <%= link_to "ブラッキー", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-45 character-pic' %>
      <%= link_to "ヤドキング(ガラル)", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-46 character-pic' %>
      <%= link_to "ロトム(ウォッシュ)", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-47 character-pic' %>
      <%= link_to "カプ・コケコ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-48 character-pic' %>
      <%= link_to "マンムー", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-49 character-pic' %>
      <%= link_to "ホウオウ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-50 character-pic' %>
      <%= link_to "ボルトロス(化身)", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-51 character-pic' %>
      <%= link_to "テッカグヤ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-52 character-pic' %>
      <%= link_to "ファイヤー(ガラル)", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-53 character-pic' %>
      <%= link_to "ゴチルゼル", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-54 character-pic' %>
      <%= link_to "ミロカロス", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-55 character-pic' %>
      <%= link_to "アシレーヌ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-56 character-pic' %>
      <%= link_to "ファイヤー", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-57 character-pic' %>
      <%= link_to "バシャーモ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-58 character-pic' %>
      <%= link_to "ウツロイド", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-59 character-pic' %>
      <%= link_to "ホワイトキュレム", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-60 character-pic' %>
      <%= link_to "ヌケニン", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-61 character-pic' %>
      <%= link_to "ドリュウズ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-62 character-pic' %>
      <%= link_to "ボルトロス(霊獣)", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-63 character-pic' %>
      <%= link_to "ネクロズマ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-64 character-pic' %>
      <%= link_to "ハピナス", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-65 character-pic' %>
      <%= link_to "グラードン", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-66 character-pic' %>
      <%= link_to "バドレックス(はくば)", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-67 character-pic' %>
      <%= link_to "ラプラス", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-68 character-pic' %>
      <%= link_to "ランドロス(化身)", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-69 character-pic' %>
      <%= link_to "ジバコイル", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-70 character-pic' %>
      <%= link_to "キュウコン(アローラ)", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-71 character-pic' %>
      <%= link_to "サザンドラ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-72 character-pic' %>
      <%= link_to "ガオガエン", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-73 character-pic' %>
      <%= link_to "メタグロス", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-74 character-pic' %>
      <%= link_to "ガマゲロゲ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-75 character-pic' %>
      <%= link_to "エルフーン", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-76 character-pic' %>
      <%= link_to "アーマーガア", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-77 character-pic' %>
      <%= link_to "ツボツボ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-78 character-pic' %>
      <%= link_to "ラティオス", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-79 character-pic' %>
      <%= link_to "マリルリ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-80 character-pic' %>
      <%= link_to "クレセリア", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-81 character-pic' %>
      <%= link_to "レシラム", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-82 character-pic' %>
      <%= link_to "ピクシー", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-83 character-pic' %>
      <%= link_to "コータス", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-84 character-pic' %>
      <%= link_to "ポットデス", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-85 character-pic' %>
      <%= link_to "デンチュラ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-86 character-pic' %>
      <%= link_to "カプ・ブルル", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-87 character-pic' %>
      <%= link_to "クレッフィ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-88 character-pic' %>
      <%= link_to "ジガルデ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-89 character-pic' %>
      <%= link_to "タチフサグマ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-90 character-pic' %>
      <%= link_to "エレザード", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-91 character-pic' %>
      <%= link_to "ボーマンダ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-92 character-pic' %>
      <%= link_to "サンダー(ガラル)", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-93 character-pic' %>
      <%= link_to "トゲキッス", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-94 character-pic' %>
      <%= link_to "ガラガラ(アローラ)", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-95 character-pic' %>
      <%= link_to "ズガドーン", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-96 character-pic' %>
      <%= link_to "アーゴヨン", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-97 character-pic' %>
      <%= link_to "カビゴン", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-98 character-pic' %>
      <%= link_to "シャンデラ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-99 character-pic' %>
      <%= link_to "マッシブーン", character_characters_path,class:'character-name' %>
      </div>

    </div>  

      <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-100 character-pic' %>
      <%= link_to "ギャラドス", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-101 character-pic' %>
      <%= link_to "ゲンガー", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <%= link_to "", character_characters_path,class:'monster-icon monster-102 character-pic' %>
      <%= link_to "カミツルギ", character_characters_path,class:'character-name' %>
      </div>


      
    </div>











  </div>
</div>