<div class="character-main">
  <div class="character-body">
    <h1 class="character-h1">ポケモン一覧</h1>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-01 character-pic" ></div>
      <%= link_to "ランドロス(霊獣)", n0100_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-02 character-pic" ></div>
      <%= link_to "ザシアン", n0200_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-03 character-pic" ></div>
      <%= link_to "ザシアン(けんのおう)", n0300_characters_path,class:'character-name' %>
      </div>

    </div>

    <%#------------------------------------------------------------------------%>

     <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-04 character-pic" ></div>
      <%= link_to "サンダー", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-05 character-pic" ></div>
      <%= link_to "ゴリランダー", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-06 character-pic" ></div>
      <%= link_to "ウーラオス(いちげき)", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-07 character-pic" ></div>
      <%= link_to "ウオノラゴン", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-08 character-pic" ></div>
      <%= link_to "バドレックス(こくば)", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-09 character-pic" ></div>
      <%= link_to "ポリゴン2", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-10 character-pic" ></div>
      <%= link_to "ナットレイ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-11 character-pic" ></div>
      <%= link_to "ムゲンダイナ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-12 character-pic" ></div>
      <%= link_to "カプ・レヒレ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-13 character-pic" ></div>
      <%= link_to "バンギラス", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-14 character-pic" ></div>
      <%= link_to "ミミッキュ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-15 character-pic" ></div>
      <%= link_to "ウーラオス(れんげき)", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-16 character-pic" ></div>
      <%= link_to "ヒードラン", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-17 character-pic" ></div>
      <%= link_to "カバルドン", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-18 character-pic" ></div>
      <%= link_to "ヒヒダルマ(ガラル)", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-19 character-pic" ></div>
      <%= link_to "エースバーン", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-20 character-pic" ></div>
      <%= link_to "メタモン", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-21 character-pic" ></div>
      <%= link_to "カイオーガ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-22 character-pic" ></div>
      <%= link_to "ヌオー", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-23 character-pic" ></div>
      <%= link_to "イベルタル", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-24 character-pic" ></div>
      <%= link_to "ギルガルド", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-25 character-pic" ></div>
      <%= link_to "ウルガモス", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-26 character-pic" ></div>
      <%= link_to "ガブリアス", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-27 character-pic" ></div>
      <%= link_to "バルジーナ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-28 character-pic" ></div>
      <%= link_to "レジエレキ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-29 character-pic" ></div>
      <%= link_to "ドヒドイデ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-30 character-pic" ></div>
      <%= link_to "ゼルネアス", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-31 character-pic" ></div>
      <%= link_to "ロトム(ヒート)", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-32 character-pic" ></div>
      <%= link_to "ハッサム", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-33 character-pic" ></div>
      <%= link_to "フェローチェ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-34 character-pic" ></div>
      <%= link_to "スイクン", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-35 character-pic" ></div>
      <%= link_to "ラッキー", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-36 character-pic" ></div>
      <%= link_to "ウインディ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-37 character-pic" ></div>
      <%= link_to "トリトドン", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-38 character-pic" ></div>
      <%= link_to "ラグラージ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-39 character-pic" ></div>
      <%= link_to "カイリュー", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-40 character-pic" ></div>
      <%= link_to "カプ・テテフ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-41 character-pic" ></div>
      <%= link_to "ドラパルト", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-42 character-pic" ></div>
      <%= link_to "オーロンゲ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-43 character-pic" ></div>
      <%= link_to "エアームド", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-44 character-pic" ></div>
      <%= link_to "ブラッキー", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-45 character-pic" ></div>
      <%= link_to "ヤドキング(ガラル)", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-46 character-pic" ></div>
      <%= link_to "ロトム(ウォッシュ)", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-47 character-pic" ></div>
      <%= link_to "カプ・コケコ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-48 character-pic" ></div>
      <%= link_to "マンムー", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-49 character-pic" ></div>
      <%= link_to "ホウオウ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-50 character-pic" ></div>
      <%= link_to "ボルトロス(化身)", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-51 character-pic" ></div>
      <%= link_to "テッカグヤ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-52 character-pic" ></div>
      <%= link_to "ファイヤー(ガラル)", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-53 character-pic" ></div>
      <%= link_to "ゴチルゼル", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-54 character-pic" ></div>
      <%= link_to "ミロカロス", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-55 character-pic" ></div>
      <%= link_to "アシレーヌ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-56 character-pic" ></div>
      <%= link_to "ファイヤー", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-57 character-pic" ></div>
      <%= link_to "バシャーモ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-58 character-pic" ></div>
      <%= link_to "ウツロイド", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-59 character-pic" ></div>
      <%= link_to "ホワイトキュレム", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-60 character-pic" ></div>
      <%= link_to "ヌケニン", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-61 character-pic" ></div>
      <%= link_to "ドリュウズ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-62 character-pic" ></div>
      <%= link_to "ボルトロス(霊獣)", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-63 character-pic" ></div>
      <%= link_to "ネクロズマ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-64 character-pic" ></div>
      <%= link_to "ハピナス", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-65 character-pic" ></div>
      <%= link_to "グラードン", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-66 character-pic" ></div>
      <%= link_to "バドレックス(はくば)", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-67 character-pic" ></div>
      <%= link_to "ラプラス", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-68 character-pic" ></div>
      <%= link_to "ランドロス(化身)", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-69 character-pic" ></div>
      <%= link_to "ジバコイル", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-70 character-pic" ></div>
      <%= link_to "キュウコン(アローラ)", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-71 character-pic" ></div>
      <%= link_to "サザンドラ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-72 character-pic" ></div>
      <%= link_to "ガオガエン", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-73 character-pic" ></div>
      <%= link_to "メタグロス", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-74 character-pic" ></div>
      <%= link_to "ガマゲロゲ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-75 character-pic" ></div>
      <%= link_to "エルフーン", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-76 character-pic" ></div>
      <%= link_to "アーマーガア", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-77 character-pic" ></div>
      <%= link_to "ツボツボ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-78 character-pic" ></div>
      <%= link_to "ラティオス", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-79 character-pic" ></div>
      <%= link_to "マリルリ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-80 character-pic" ></div>
      <%= link_to "クレセリア", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-81 character-pic" ></div>
      <%= link_to "レシラム", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-82 character-pic" ></div>
      <%= link_to "ピクシー", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-83 character-pic" ></div>
      <%= link_to "コータス", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-84 character-pic" ></div>
      <%= link_to "ポットデス", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-85 character-pic" ></div>
      <%= link_to "デンチュラ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-86 character-pic" ></div>
      <%= link_to "カプ・ブルル", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-87 character-pic" ></div>
      <%= link_to "クレッフィ", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-88 character-pic" ></div>
      <%= link_to "ジガルデ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-89 character-pic" ></div>
      <%= link_to "タチフサグマ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-90 character-pic" ></div>
      <%= link_to "エレザード", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-91 character-pic" ></div>
      <%= link_to "ボーマンダ", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-92 character-pic" ></div>
      <%= link_to "サンダー(ガラル)", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-93 character-pic" ></div>
      <%= link_to "トゲキッス", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-94 character-pic" ></div>
      <%= link_to "ガラガラ(アローラ)", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-95 character-pic" ></div>
      <%= link_to "ズガドーン", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-96 character-pic" ></div>
      <%= link_to "アーゴヨン", character_characters_path,class:'character-name' %>
      </div>
      
    </div>

    <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-97 character-pic" ></div>
      <%= link_to "カビゴン", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-98 character-pic" ></div>
      <%= link_to "シャンデラ", character_characters_path,class:'character-name' %>
      </div>


      <div class="character">
      <div class = "monster-icon2 monster-99 character-pic" ></div>
      <%= link_to "マッシブーン", character_characters_path,class:'character-name' %>
      </div>

    </div>  

      <%#------------------------------------------------------------------------%>

    <div class="character-link">

      <div class="character">
      <div class = "monster-icon2 monster-100 character-pic" ></div>
      <%= link_to "ギャラドス", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-101 character-pic" ></div>
      <%= link_to "ゲンガー", character_characters_path,class:'character-name' %>
      </div>

      <div class="character">
      <div class = "monster-icon2 monster-102 character-pic" ></div>
      <%= link_to "カミツルギ", character_characters_path,class:'character-name' %>
      </div>


      
    </div>











  </div>
</div>